#choose-media-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(202, 202, 202);
}
#choose-media-wrapper .btn {
    margin-left: 15px;
}
#choose-media-wrapper .btn:first-child {
    margin-left: 0;
}