#properties-wrapper {
    position: relative;
    width: 300px;
    border-left: 1px solid rgb(202, 202, 202);
    padding: 10px;  
    display: flex;  
    flex-direction: column;
  }
  #properties-wrapper .row {
    margin-top: 20px;
  }
  #properties-wrapper .row:first-child {
    margin-top: 0;
  }
  
  #properties-wrapper .cel-coord {
    display: flex;
    justify-content: space-between;
    height: 20px;
  }
  #properties-wrapper .cel-coord .input {
    width: 45%;  
  }
  
  #properties-wrapper .cel-layout-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin: 20px;
  }
  
  #properties-wrapper .cel-layout-align .absolute-align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #properties-wrapper .cel-layout-align .flex-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  #properties-wrapper .cel-layout-align .toggle:first-child {
    margin-bottom: 10px;
  }