#properties-wrapper {
    position: relative;
    width: 300px;
    border-left: 1px solid rgb(202, 202, 202);
    padding: 10px;  
    display: flex;  
    flex-direction: column;
  }
  #properties-wrapper .row {
    margin-top: 20px;
  }
  #properties-wrapper .row:first-child {
    margin-top: 0;
  }
  
  #properties-wrapper .cel-bound-and-pos {    
    margin-bottom: 20px;
  }
  #properties-wrapper .cel-bound-and-pos .input {
    width: 45%;  
  }
  #properties-wrapper .cel-bound, #properties-wrapper .cel-pos {
    display: flex;
    justify-content: space-around;
    height: 20px;    
  }
  #properties-wrapper .cel-pos {
    margin-bottom: 20px;
  }
  #properties-wrapper .input-adorment {
    font-size: 12px;
    cursor: pointer;
  }
  
  #properties-wrapper .cel-layout-align {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin: 20px;
  }
  
  #properties-wrapper .cel-layout-align .absolute-align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  #properties-wrapper .cel-layout-align .flex-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  
  #properties-wrapper .cel-layout-align .toggle:first-child {
    margin-bottom: 10px;
  }


  #remove-cael-wrapper {
    margin-top: 20px;
    padding: 10px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  #remove-cael-wrapper .btn-remove {
    background-color: #e74c3c;
  }